
:root {
    --hue-neutral: 181;
    --hue-wrong : 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(var(--hue), 100%,40%);
}

body.correct {
    --hue: var(--hue-correct)
}
body.wrong {
    --hue: var(--hue-wrong)
}

img {
    max-width: 100%;
    margin: 16px 0;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
}

.paragrafo {
    width: 800px;
    max-width: 80%;
    font-size: 1.08rem;
    position: relative;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    box-shadow: 0 0 10px 2px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue :var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;

}
.btn.hover {
    border-color: black;
}
.btn.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 50%);
    color:black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 100%, 50%);
    color: black;
}

.start-btn,
.next-btn {
    --hue :var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.score {
    font-size: large;
    font-weight: bold;

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}